.Education {

}

.tittleSection {
    color:#015e95;
    font-weight: 800;
}

.tittleOthers {
    color:#015e95;
    font-weight: 800;
    margin-top:30px
}

.itemEducation {
    margin-top:20px
}

.principalEducation {
    font-weight: 800;
}