.Hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
}

.tittleSection {
    color:#015e95;
    font-weight: 900;
    margin-bottom: 20px;
}

.textInfo {
    margin: 12px auto;
}

.imgProfile {
    width: 250px;
    height: auto;
}

.pdfBtn {
    background-color: #015e95;
    border: 3px solid #015e95;
    padding: 5px 20px;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    margin-top:20px;
    font-size: 16px;
}

.pdfBtn a {
    color: #ffffff;
}

@media only screen and (max-width: 700px) {
    .Hero {
        display: flex;
        flex-wrap: wrap;
    }
  }
  

